@use "../global" as *;

.c-drawer__btn {
  color: $accent-text-blue;
  background: $white;
  font-size: rclamp(18, 30, 375, 768);
  padding-block: rclamp(13, 26, 375, 1023);
  padding-inline: rclamp(45, 90, 375, 1023);
  text-align: center;
  font-weight: bold;

  @include mq(tb-middle) {
    padding-inline: rclamp(14, 33, 1024, 1920);
    padding-block: rclamp(7.2, 18, 1024, 1920);
    font-size: rclamp(10, 25, 1024, 1920);
  }
}
