@use "../global" as *;

.l-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  &.js-scroll {
    @include mq(tb-middle) {
      background: rgba(217, 232, 243, 0.5);
    }
    .l-header__inner {
      @include mq(tb-middle) {
        padding-block: rclamp(9, 18, 1024, 1920);
      }
    }
    .l-header__nav {
      @include mq(tb-middle) {
        margin-top: 0;
      }
    }
    .l-header__logo {
      @include mq(tb-middle) {
        max-width: rclamp(101, 190, 1024, 1920);
      }
    }
    .l-header__list {
      @include mq(tb-middle) {
        padding-top: 0;
      }
    }
    .c-drawer__btn {
      @include mq(tb-middle) {
        padding-block: rclamp(5, 10, 1024, 1920);
      }
    }
  }
}
.l-header__inner {
  padding-inline: rclamp(35, 95, 375, 1023);
  padding-top: rclamp(21, 58, 375, 1023);

  @include mq(tb-middle) {
    display: flex;
    padding-top: rclamp(21, 40, 1024, 1920);
    padding-inline: rclamp(44, 82, 1024, 1920);
    gap: rclamp(40, 100, 1024, 1920);
  }
}
.l-header__nav {
  display: none;

  @include mq(tb-middle) {
    display: flex;
    gap: rclamp(121, 300, 1024, 1920);
    margin-top: rclamp(3, 13, 1024, 1920);
  }
}

.l-header__lists {
  display: flex;
  gap: rclamp(24, 60, 1024, 1920);
}

.l-header__list {
  color: $accent-text-blue;
  font-weight: 500;
  flex-shrink: 0;

  a {
    &:hover {
      text-decoration: underline 1px;
      text-decoration-color: $accent-text-blue;
      text-underline-offset: 10px;
      cursor: pointer;
    }
  }

  @include mq(tb-middle) {
    font-size: rclamp(13, 25, 1024, 1920);
  }
}

.l-header__logo {
  display: block;
  width: rclamp(135, 270, 375, 1023);

  @include mq(tb-middle) {
    max-width: rclamp(134, 251, 1024, 1920);
  }
  img {
    width: 100%;
  }
}

.l-header__btnBox {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mq(tb-middle) {
    flex-direction: row;
    gap: rclamp(4.8, 12, 1024, 1920);
  }
}
