@use "../global" as *;

.l-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.l-header__inner {
  padding-inline: 28px;
  padding-top: 20px;

  @include mq(tb-middle) {
    display: flex;
    padding-top: rclamp(21, 40, 1024, 1920);
    padding-inline: rclamp(44, 82, 1024, 1920);
    gap: rclamp(40, 100, 1024, 1920);
  }
}
.l-header__nav {
  display: none;

  @include mq(tb-middle) {
    display: flex;
    gap: rclamp(121, 300, 1024, 1920);
    margin-top: rclamp(3, 13, 1024, 1920);
  }
}

.l-header__lists {
  display: flex;
  gap: rclamp(24, 60, 1024, 1920);
}

.l-header__list {
  color: $accent-text-blue;
  font-weight: bold;
  font-size: rclamp(10, 25, 1024, 1920);
  font-family: $font-face-ja;
  flex-shrink: 0;
}

.l-header__logo {
  display: block;
  width: rclamp(135, 270, 375, 1023);

  @include mq(tb-middle) {
    max-width: rclamp(134, 251, 1024, 1920);
  }
  img {
    width: 100%;
  }
}

.l-header__btnBox {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mq(tb-middle) {
    flex-direction: row;
    gap: rclamp(4.8, 12, 1024, 1920);
  }
}
