@use "../global" as *;

.l-voice__pass {
  .l-header {
    background: rgba(217, 232, 243, 0.5);
    padding-bottom: rclamp(14, 39, 375, 1023);

    @include mq(tb-middle) {
      padding-bottom: rclamp(20, 38, 1024, 1920);
    }

    &.js-scroll {
      @include mq(tb-middle) {
        background: rgba(217, 232, 243, 0.5);
        padding-bottom: rclamp(10, 18, 1024, 1920);
      }
      .l-header__inner {
        @include mq(tb-middle) {
          padding-top: rclamp(11, 20, 1024, 1920);
        }
      }
    }
  }
}
