@use "../global" as *;

.p-drawer__icon {
  position: fixed;
  z-index: 102;
  top: rclamp(21, 58, 375, 1023);
  right: rclamp(35, 95, 375, 1023);
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
  gap: rclamp(5, 12, 525, 1023);

  .p-drawer__title2 {
    display: none;
  }

  &.js-show {
    .p-drawer__icon--bar:nth-of-type(1) {
      rotate: 45deg;
      translate: 0 7.5px;
      background: $accent-text-blue;
    }
    .p-drawer__icon--bar:nth-of-type(2) {
      display: none;
    }
    .p-drawer__icon--bar:nth-of-type(3) {
      rotate: -45deg;
      translate: 0 0.5px;
      background: $accent-text-blue;
    }
    .p-drawer__title {
      display: none;
    }
    .p-drawer__title2 {
      display: block;
    }
  }
  @include mq(tb-middle) {
    display: none;
  }
}

.p-drawer__icon--bar {
  width: rclamp(20, 56, 375, 1023);
  height: 2px;
  background-color: $accent-text-blue;
  transition: all 0.5s ease;
}

.p-drawer__title,
.p-drawer__title2 {
  color: $accent-text-blue;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: rclamp(12, 20, 375, 1023);
}

.p-drawer {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  width: rclamp(272.5, 763, 375, 1023);
  height: 100vh;
  height: 100svh;
  overflow-y: scroll;
  translate: 101%;
  transition: translate 0.5s ease;

  &.js-show {
    translate: 0;
  }
}
.p-drawer__body {
  width: 100%;
  height: 100vh;
  padding-block: 88px 40px;
  padding-inline: 34px;
  background: rgba(217, 232, 243, 0.5);
  display: flex;
  flex-direction: column;
}
.p-drawer__list {
  row-gap: 32px;
  margin-bottom: 40px;
  color: $accent-text-blue;

  a {
    font-family: $font-face-ja;
    color: $accent-text-blue;
    font-size: rclamp(15, 40, 375, 1023);
    font-weight: bold;
    line-height: normal;
  }
}
