@use "../global" as *;

.p-fv {
}
.p-fv__inner {
  padding-inline: rclamp(30, 60, 375, 768);
  padding-bottom: rclamp(480, 772, 375, 768);
  position: relative;
}

.p-fv__group {
  position: relative;
  z-index: 1;
}

.p-fv__heading {
  background: linear-gradient(95deg, rgb(168, 203, 210) 0%, rgb(233, 191, 201) 35%, rgb(237, 194, 185) 63%, rgb(236, 229, 197) 100%);
  font-size: rclamp(30, 65, 375, 768);
  padding-inline: rclamp(22, 52, 375, 768);
  padding-top: rclamp(13, 26, 375, 768);
  padding-bottom: rclamp(34, 68, 375, 768);
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.p-fv__heading,
.fv__head--title1,
.fv__head--title2,
.fv__head--title3 {
  display: inline-block;
  font-family: $font-face-mincho;
  color: $white;
  line-height: 1.2;
  letter-spacing: 0.07px;
}

.fv__head--title1 {
  font-size: rclamp(46, 86, 375, 768);
}

.fv__head--title2 {
  font-size: rclamp(48, 96, 375, 768);
}

.fv__head--title3 {
  font-size: rclamp(40, 77, 375, 768);
}

.p-fv__bta {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 3;
  bottom: rclamp(67, 75, 375, 768);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.p-fv__ornaments {
  display: flex;

  picture {
    width: 100%;

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-left: -25px;
    }
  }
}

.p-fv__image {
  position: absolute;
  width: rclamp(277, 554, 375, 768);
  height: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.p-fv__btn {
  margin-top: 12px;
}
