@use "../global" as *;

.p-result__inner {
  @include mq(tb-middle) {
    padding-top: rclamp(41, 77, 1024, 1920);
  }
}

/* ================================
   本題のCSS
=============================== */
.result__swiper--container,
.card__swiper,
.card__swiper-wrapper,
.card__swiper-slide {
  position: relative;
}

/* 位置のreset */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
  margin: 0;
  padding: 0;
}

.swiper-wrapper {
  height: auto !important;
}

/* =============================
   ページネーション (bullets)
============================= */
/* 位置の設定 (枠組み) */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: calc(100% + 20px);

  @include mq(tb-middle) {
    top: calc(100% + 30px);
  }
}

/* それぞれのページネーション */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d9d9d9;
  margin-inline: calc(11px / 2);
}

/* activeな部分 */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  background: #000;
}

.card__swiper-wrapper {
  padding-block: 10px;
}

/* =============================
    STYLE
============================= */

.voice-heading {
  font-size: rclamp(83, 277, 375, 1023);

  @include mq(tb-middle) {
    font-size: rclamp(101, 189, 1024, 1920);
  }
}

.p-result__slider {
  @include mq(tb-middle) {
    margin-top: rclamp(43, 80, 1024, 1920);
  }
}

.card__swiper-slide {
  padding: rclamp(11, 29, 375, 1023);
  box-shadow: 0 0 10px 0 rgba(75, 88, 97, 0.3);
  border-radius: 15px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
  }

  &:hover {
    cursor: pointer;
    &::before {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  @include mq(tb-middle) {
    max-width: 450px;
    padding: rclamp(10, 19, 1024, 1920);
  }
}

.card__swiper--image {
  width: 100%;
  height: auto;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.card__swiper--heading,
.card__swiper--name {
  font-weight: 500;
  font-size: rclamp(13, 37, 375, 1023);
  color: $text-color;
  letter-spacing: 1.05px;

  @include mq(tb-middle) {
    font-size: rclamp(13, 25, 1024, 1920);
  }
}

.card__swiper--heading {
  margin-top: rclamp(19, 53, 375, 1023);

  @include mq(tb-middle) {
    margin-top: rclamp(19, 36, 1024, 1920);
  }
}

.card__swiper--name {
  margin-top: rclamp(16, 42, 375, 1920);

  @include mq(tb-middle) {
    margin-top: rclamp(19, 35, 1024, 1920);
  }
}

.p-result__btn {
  margin-top: rclamp(59, 161, 375, 1023);
  max-width: rclamp(336, 916, 375, 1023);
  margin-inline: auto;

  @include mq(tb-middle) {
    margin-top: rclamp(70, 95, 1024, 1920);
    max-width: rclamp(380, 713, 1024, 1920);
  }
}
