@use "../global" as *;

.voice__lead {
  padding-bottom: rclamp(51, 139, 375, 1023);
}

.p-voice__detail--inner {
  padding-top: rclamp(65, 178, 375, 1023);

  @include mq(tb-middle) {
    padding-inline: rclamp(99, 185, 1024, 1920);
    padding-top: 0;
  }
}

.p-voice__detail--area {
  margin-top: rclamp(58, 158, 375, 1023);
  background: $main-gradation;
  padding-top: rclamp(36, 98, 375, 1023);
  padding-bottom: rclamp(38, 102, 375, 1023);

  @include mq(tb-middle) {
    margin-top: rclamp(58, 108, 1024, 1920);
  }
}

.p-voice__detail--heading {
  font-size: rclamp(27, 73, 375, 1023);
  font-weight: 500;
  text-align: center;
  padding-inline: rclamp(18, 48, 375, 1023);

  @include mq(tb-middle) {
    font-size: rclamp(27, 50, 1024, 1920);
    font-weight: 400;
    padding-inline: rclamp(37, 70, 1024, 1920);
  }
}

.voice__contents {
  padding-inline: rclamp(29, 79, 375, 1023);
  display: flex;
  flex-direction: column;

  @include mq(tb-middle) {
    gap: rclamp(36, 67, 1024, 1920);
  }
}

.p-voice__detail--thumb {
  padding-inline: rclamp(14, 38, 375, 1023);
  margin-top: rclamp(39, 107, 375, 1023);
  display: flex;
  flex-direction: column;

  @include mq(tb-middle) {
    flex-direction: row;
    padding-inline: 0;
  }
}

.p-voice__detail--image {
  box-shadow: 0px 0px 15px -5px #777777;
  max-width: rclamp(274, 748, 375, 1023);

  @include mq(tb-middle) {
    max-width: rclamp(341, 640, 1024, 1920);
  }

  img {
    aspect-ratio: 16 / 9;
    height: auto;
  }
}

.embedbox {
  width: 100%;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.voice__personal {
  max-width: rclamp(179, 490, 375, 1023);
  margin-inline: auto;
  margin-top: rclamp(25, 67, 375, 1023);
  margin-bottom: rclamp(28, 77, 375, 1023);
}

.p-voice__detail--name,
.p-voice__detail--job {
  font-size: rclamp(21, 58, 375, 1023);
  font-weight: 400;
  white-space: nowrap;

  @include mq(tb-middle) {
    font-size: rclamp(21, 40, 1024, 1920);
  }
}

.voice__post--group {
  padding-top: rclamp(48, 122, 375, 1023);
  padding-inline: rclamp(11, 29, 375, 1023);
  padding-bottom: rclamp(63, 172, 375, 1023);
}
.voice__post--heading {
  font-size: rclamp(21, 58, 375, 1023);
  padding-block: rclamp(18, 48, 375, 1023);
  padding-left: rclamp(16, 44, 375, 1023);
  background: #f5f2f3;

  @include mq(tb-middle) {
    font-size: rclamp(21, 40, 1024, 1920);
    padding-block: rclamp(19, 35, 1024, 1920);
    padding-left: rclamp(39, 74, 1024, 1920);
  }
}

.voice__post--text {
  font-size: rclamp(16, 44, 375, 1023);
  padding-top: rclamp(15, 41, 375, 1023);
  padding-bottom: rclamp(26, 70, 375, 1023);

  @include mq(tb-middle) {
    font-size: rclamp(16, 30, 1024, 1920);
    padding-top: rclamp(25, 46, 1024, 1920);
    padding-bottom: rclamp(26, 48, 1024, 1920);
    padding-inline: rclamp(37, 70, 1024, 1920);
  }
}

.voice__lead__inner {
  padding-inline: rclamp(10, 26, 375, 1023);

  @include mq(tb-middle) {
    padding-inline: rclamp(54, 102, 1024, 1920);
  }
}

.voice__lead--box {
  padding-top: calc(rclamp(43, 117, 375, 1023) - 10px);
  padding-inline: calc(rclamp(19, 53, 375, 1023) - 10px);
  padding-bottom: calc(rclamp(37, 101, 375, 1023) - 10px);

  @include mq(tb-middle) {
    padding-top: calc(rclamp(62, 116, 1024, 1920) - 10px);
    padding-inline: calc(rclamp(90, 168, 1024, 1920) - 10px);
    padding-bottom: calc(rclamp(49, 92, 1024, 1920) - 10px);
  }
}

.voice__lead--heading {
  font-size: rclamp(21, 58, 375, 1023);
  font-weight: 400;
  text-align: center;

  @include mq(tb-middle) {
    font-size: rclamp(21, 40, 1024, 1920);
  }
}

.voice__lead--textBox {
  padding-top: rclamp(47, 129, 375, 1023);
  padding-bottom: rclamp(35, 95, 375, 1023);
}

.voice__lead--text {
  font-size: rclamp(16, 44, 375, 1023);

  @include mq(tb-middle) {
    font-size: rclamp(16, 30, 1024, 1920);
  }

  & + & {
    margin-top: rclamp(45, 123, 375, 1023);

    @include mq(tb-middle) {
      margin-top: rclamp(32, 60, 1024, 1920);
    }
  }
}

.p-voice__detail--btn {
  max-width: rclamp(329, 899, 375, 1023);
  width: 100%;
  margin-inline: auto;
  border-radius: 40px;

  &:has(.green-btn) {
    background: linear-gradient(90deg, rgba(103, 176, 205, 1) 0%, rgba(159, 208, 223, 1) 100%);
  }

  &:has(.pink-btn) {
    background: linear-gradient(90deg, rgba(242, 154, 185, 1) 0%, rgba(234, 185, 205, 1) 100%);
  }

  @include mq(tb-small) {
    border-radius: 80px;
  }

  @include mq(tb-middle) {
    border-radius: 64px;
    max-width: rclamp(380, 713, 1024, 1920);
  }

  .c-button {
    &::after {
      right: rclamp(5, 15, 375, 1023);

      @include mq(tb-middle) {
        right: rclamp(24, 63, 1024, 1920);
      }
    }
  }
}
